.filter__control{
}
.filter__input-container{
}
.filter__indicator{
} 
.filter__value-container{
}
.filter__indicator-separator{
}
.filter__dropdown-indicator{
}
.filter__indicators{
}

.select_wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
}
.label{
    margin: 4px 0;
}