$color: #333;
$btnPdd: 8px 24px;

.header{
    padding: $btnPdd;
    max-width: 100%;
    // width: 1840px;
    margin: 0 auto;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 90px;
}
.logo_img{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}
.header_nav{
    height: 100%;
}
.header_ul{
    display: flex;
    height: 100%;
}
.header_li{
    list-style: none;
    padding: $btnPdd;
    cursor: pointer;
    font-weight: 700;
    color: #666;
    display: flex;
    align-items: center;
}
.header_right{
    padding-left   : 32px;
}
.right_btn{
    padding: $btnPdd;
    border: 1px solid $color;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 2px;
    margin-left: 12px;
}
.header_icon{
    margin-right: 12px;
}
.active_li{
    color: black;
    border-bottom: 2px solid $color;
}
.lang_btn{
    padding: 4px 8px;
    border: none;
    margin-left: 4px;
    font-weight: 700;
    color: #999;
    &:hover{
        color: #000;
        cursor: pointer;
    }
}
.leave_btn{
    text-decoration: none;
    color: $color;
}